{% extends 'Lamersroom/basic.html' %}
{% block title %}
    Добавить новый пост
{% endblock %}

{% block content %}
    <h2>Новый пост</h2>
    <form method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li><em>{{ error|escape }}</em></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for field in form.visible_fields %}
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li><em>{{ error|escape }}</em></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>{{ field.label_tag }}<br>{{ field }}<br>{{ field.help_text }}</p>
        {% endfor %}
        <input type="submit" value="Добавить" class="add-button">
    </form>
{% endblock %}