html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    font-family: "Calibri Light", serif;
    width: 70%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    margin: 3% 0 0 0;
    border-bottom: 5px solid black;
}

.logo {
    background-color: black;
    color: white;
    height: 27%;
    border-top: solid black 2px;
    padding-left: 10px;
    font-size: 42px;

    margin: 3% auto auto 5%;
}

.room {
    background-color: white;
    color: black;
    border-right: solid black 2px;
    padding: 0 10px 0 10px;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3% 5% auto auto;
    height: 70px;
    align-items: center;
}

.auth a {
    color: black;
    text-decoration: none;
    font-size: 20px;

}

.line {
    height: 2px;
    width: 150px;
    background-color: black;
}

.menu-and-search {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

nav {
    width: 420px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 15px 0 15px 0;
}

.search {
    padding-top: 15px;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 10px;
}

input[type='search'] {
    border: none;
    font-size: 20px;
}

input[type='search']:focus {
    outline: none;
}

.posts {
    margin-top: 5%;
    width: 40%;
}

.post h1 {
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 0;
}

.post p {
    padding-left: 10px;
    text-overflow: ellipsis;
}

a {
    color: black;
    text-decoration: none;
}


.add-new-post {
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 5px 5px;
    height: 43px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
}

.delete-post {
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 5px 5px;
    height: 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    border: none;
}

.auth-form {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 300px;
    justify-content: space-around;
}

.enter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.enter input {
    border: none;
    font-size: 20px;
    text-align: center;
    width: 150px;
}

.enter input:focus {
    outline: none;
    text-align: center;
    width: 150px;
}

.auth-form input[type='submit'] {
    color: white;
    background-color: black;
    padding: 5px 5px;
    height: 35px;
    font-size: 20px;
    width: 120px;
    border: 1px solid black;
}

.enter input::placeholder {
    font-size: 17px;
}

.greet {
    margin-top: 4%;
}

.pages {
    width: 150px;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
}

.pages a {
    color: black;
    background-color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: center;
    font-size: 20px;
}

 .pages .previous-page {
    color: white;
    background-color: black;
}

 .pages .next-page {
     color: white;
     background-color: black;
 }

  .pages .current-page {
     color: white;
     background-color: black;
 }

  select {
      border: none;
      font-size: 15px;
  }

  select:focus {
      outline-color: black;
  }

  .add-comment textarea {
      border: none;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      resize: none;
      font-size: 20px;
  }

  .add-comment textarea:focus {
      outline: none;
  }

  .add-comment form input[type='submit'] {
      background-color: black;
      color: white;
      border: none;
      font-size: 20px;
      padding: 10px;
  }

  .add-title {
      outline: none;
      border: none;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      padding: 5px 3px 5px 3px;
      width: 300px;
      font-size: 20px;
  }

  .add-text {
      border: none;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      resize: none;
      font-size: 20px;
  }

  .add-text:focus {
        outline: none;
  }

  .add-button {
      background-color: black;
      color: white;
      border: none;
      font-size: 20px;
      padding: 10px;
  }

  .reg-form input[type='text'], .reg-form input[type='password'], .reg-form input[type='email'] {
      outline: none;
      border: none;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      padding: 5px 3px 5px 3px;
      width: 300px;
      font-size: 20px;
  }

  .reg-form {
      margin: 5% 40%;
  }

  .reg-form + a {
      margin: auto 40%;
  }

  .reg-button {
      width: 305px;
      background-color: black;
      color: white;
      border: none;
      font-size: 20px;
      padding: 10px;
  }

  .comments {
      margin-top: 3%;
  }

  .comment a{
      display: flex;
      height: 50px;
      width: 130px;
      border-bottom: 2px solid black;
      justify-content: space-between;
      font-size: 30px;
  }

  .comment a img {
      border-radius: 50%;
  }

  .profile-link {
      display: flex;
      height: 40px;
      width: 100px;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
  }

  .buttons {
      display: flex;
      justify-content: space-between;
  }

  .like-btn,
  .like-btn:focus,
  .like-btn:active {
    border: none;
    outline: none;
    background-color: rgba(0,0,0, 0);
    display: flex;
    justify-content: space-between;
    width: 60px;
    padding: 0 30px 0 0;
  }

  .like-btn .liked img {
      transform: rotate(180deg);
  }

  .main-footer {
      border-top: 5px solid black;
      height: 150px;
  }